/* Root */
:root{
    --border-radius: 1.125rem;
}

/* Geral*/


/* Seção onde fica os cards*/
.media-scroll{
    --padding: 0.8rem;

    width: 50%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: var(--padding);
    padding: 0 var(--padding) var(--padding) var(--padding);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-behavior: smooth;

}

.media-scroll::-webkit-scrollbar{
    width: 2em;
    height: 0.55em;
}
.media-scroll::-webkit-scrollbar-track{
    background: rgba(90, 93, 106, 0.45);
    border-radius: 100vw;
    scroll-padding: 0.5rem;
}

.media-scroll::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    background: rgba(99, 103, 118, 0.45);
}

.snap-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--padding);
}

.snap-inline > * {
    scroll-snap-align: start;
}




/* Card */
div.card-article{
    width: 12.5rem;
    box-sizing: content-box;
    position: relative;
    z-index: -1;
    aspect-ratio: 1/1.5;
    border-radius: var(--border-radius);
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);

    background-image: url("https://cdna.artstation.com/p/assets/images/images/015/867/542/large/sylvain-sarrailh-yellowruins.jpg?1549981771") ;
    background-size: cover;
    background-repeat: no-repeat;

    color: white;
}



.card-article::before{
    content: '';
    opacity: 0%;
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1.5;
    border-radius: var(--border-radius);
    background: linear-gradient(181.77deg, #A38694 -14.95%, rgba(216, 216, 216, 0) 147.86%);
    transition: .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.card-article:hover::before{
    
    opacity: 100%;
}



/* Texto dentro do card*/
.text-card{
    display: none;
    position: relative;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    gap: 1em;
    left: 0px;
    top: 0px;
    float: center;
    text-align: center;
    margin: 0 auto;

    color: currentColor;
    animation: fade-in 0.5s cubic-bezier(0.215, 0.610, 0.355, 1) forwards ;
}

.hideText{
    animation: fade-out 0.5s cubic-bezier(0.215, 0.610, 0.355, 1) forwards ;
}

@keyframes fade-in{
    0%{
        opacity: 0;
        top: 20px;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}

@keyframes fade-out{
    0%{
        opacity: 1;
        top: 0px;
        display: block;
    }
    100%{
        opacity: 0;
        top: 20px;
        display: none;
    }
}

/* Botão de acessar dentro do texto*/
.text-card::after{
    content: '' 'Acessar';
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
    border-radius: 100vw;
    aspect-ratio: 1/0.5;

    background-color: var(--main-color);
    color: white;
    transition:  transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.text-card:hover::after, .text-card:focus::after{
    transform-origin: center;
    transform: scale(1.1);
}


